<?xml version="1.0" encoding="utf-8"?>

<configuration scan="true" scanPeriod="1 minute">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local | prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>${CONSOLE_LOG_CHARSET}</charset>
            </encoder>
        </appender>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="team.msg" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="prod" source="logging.discord.webhook-url">

        <property resource="application-prod.yml" />
        <springProperty scope="context" name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url"/>
        <springProperty scope="context" name="DISCORD_AVATAR_URL" source="logging.discord.avatar-url"/>
        <springProperty scope="context" name="AWS_ACCESS_KEY" source="cloud.aws.credentials.access-key"/>
        <springProperty scope="context" name="AWS_SECRET_KEY" source="cloud.aws.credentials.secret-key"/>

        <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
            <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} ```%msg%n%ex{full}```</pattern>
            </layout>
            <username>빛고을 오류 알리미</username>
            <avatarUrl>${DISCORD_AVATAR_URL}</avatarUrl>
            <tts>false</tts>
        </appender>

        <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DISCORD" />
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

        <appender name="CLOUD-WATCH" class="ca.pjer.logback.AwsLogsAppender">
            <layout>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </layout>
            <logGroupName>bitgouel</logGroupName>
            <logStreamUuidPrefix>bitgouel-log-</logStreamUuidPrefix>
            <logRegion>ap-northeast-2</logRegion>
            <maxBatchLogEvents>50</maxBatchLogEvents>
            <maxFlushTimeMillis>30000</maxFlushTimeMillis>
            <maxBlockTimeMillis>5000</maxBlockTimeMillis>
            <retentionTimeDays>7</retentionTimeDays>
            <accessKeyId>${AWS_ACCESS_KEY}</accessKeyId>
            <secretAccessKey>${AWS_SECRET_KEY}</secretAccessKey>
        </appender>

        <logger name="org.springframework" level="INFO">
            <appender-ref ref="CLOUD-WATCH"/>
            <appender-ref ref="ASYNC_DISCORD"/>
        </logger>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE">
            <appender-ref ref="CLOUD-WATCH"/>
            <appender-ref ref="ASYNC_DISCORD"/>
        </logger>
        <logger name="team.msg" level="INFO">
            <appender-ref ref="CLOUD-WATCH"/>
            <appender-ref ref="ASYNC_DISCORD"/>
        </logger>
    </springProfile>
</configuration>