name: Bitgouel Server CD

on:
  push:
    branches: [ master ]

env:
  S3_BUCKET_NAME: bitgouel-deploy-bucket
  PROJECT_NAME: Bitgouel Server

jobs:
  build:
    name: CD
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Create application.yml on dev
        run: |
          touch ./bitgouel-api/src/main/resources/application.yml
          echo "${{ secrets.BITGOUEL_DEV_ENV }}" > ./bitgouel-api/main/resources/application.yml
        shell: bash

      - name: Build with Gradle
        run: ./gradlew clean bitgouel-api:build -i
        shell: bash

      - name: Make zip file
        run: zip -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Copy script
        run: cp ./scripts/*.sh ./deploy

      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://$S3_BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip